// Container
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 25px;
  }
}
@media (max-width: 700px) {
  .header__inner {
    display: none;
  }
  .header__burger {
    display: flex;
  }
}
@media (max-width: 525px) {
  .main-block {
    height: calc(100vh - 80px);
    // min-height: 100vh;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__title {
      font-size: 30px;
      line-height: 120%;
    }

    &__subtitle {
      line-height: 120%;
      margin-top: 20px;
    }
  }
}
